<!DOCTYPE html>
<html>
  <head>
    <title>Faybuk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/01de39c32b.js" crossorigin="anonymous"></script>
    <meta property="og:title" content="faybuk" />
    <meta property="og:image" content="<%= image_url('screenshot.png') %>" />
    <meta property="og:description" content="faybuk is a clone of Facebook that allows users to connect from around the world" />
    <meta property="og:url" content="https://faybuk.herokuapp.com/#/login" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
